body {
  background: #111;
  color: #fff;
}

ul,
ol {
  padding-left: 1rem;
}

:root {
  --bs-light-bg-subtle: #1e1e1e;
}

.btn:disabled {
  --bs-btn-disabled-bg: #1c1c1c;
}

.btn-secondary {
  --bs-btn-bg: #1e1e1e;
}

.list-group .list-group-item {
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
}

.fc .fc-header-toolbar {
  justify-content: space-between;
}

.fc .fc-view {
  --bs-link-color-rgb: --bs-light;
  --bs-link-hover-color-rgb: 52, 45, 255;
}

.fc .fc-button-primary {
  --fc-button-bg-color: #1e1e1e;
  --fc-button-border-color: rgba(var(--bs-secondary-rgb), var(--bs-bg-opacity)) !important;
}

.fc .fc-button-primary:not(:disabled).fc-button-active,
.fc .fc-button-primary:not(:disabled):active {
  --fc-button-active-bg-color: #565e64 !important;
  --fc-button-active-border-color: #51585e !important;
}

.fc .fc-button-primary:hover {
  --fc-button-hover-bg-color: #565e64 !important;
  --fc-button-hover-border-color: #51585e !important;
}

.navbar .nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
}

.navbar .nav-item.active {
  background-color: #565e64;
  border-radius: 50%;
}
