body {
  background: #111;
  color: #fff;
}

ul,
ol {
  padding-left: 1rem;
}

/* BOOTSTRAP Extends */
:root {
  --bs-light-bg-subtle: #1e1e1e;
}

.btn:disabled {
  --bs-btn-disabled-bg: #1c1c1c;
}

.btn-secondary {
  --bs-btn-bg: #1e1e1e;
}

/* BOOTSTRAP Extends */

#boxCategorias .list-group-item {
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
}
